<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .content {
    display: flex;
    margin: 0 auto 0;
    width: 85%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 246, 239);
  }

  .option {
    flex: 1;
    font-weight: 300;
  }

  .toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ff6600;
    color: black;
    font-weight: 600;
    font-size: 10pt;
  }

  .toolbar #title {
    margin-right: 5px;
  }

  .toolbar-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toolbar img {
    margin: 2px;
    border: 1px solid white;
  }

  .toolbar a {
    color: black;
  }

  .toolbar #login {
    text-align: end;
    color: black;
    margin: 0 5px;
  }

  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  footer {
    border-top: 2px solid #ff6600;
    width: 100%;
    margin-top: 8px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    color: black;
  }

  footer a {
    display: flex;
    align-items: center;
    color: black;
    margin: 0 2px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 575px) {
    .toolbar-content {
      display: flex;
      flex-direction: column;
      padding: 5px 0;
      margin-left: 5px;
    }

    .content {
      width: 100%;
    }
  }
</style>

<div class="content" role="main">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img width="18" alt="ycombinator" src="../assets/img/y-logo.gif" />
    <div class="toolbar-content">
      <span id="title">Hacker News</span>
      <div class="option">
        <a href="#" *ngFor="let option of toolbarOptions">
          {{ option }} {{ option !== "submit" ? " | " : null }}
        </a>
      </div>
    </div>
    <a
      href="https://news.ycombinator.com/login?goto=news"
      class="option"
      id="login"
      >login</a
    >
  </div>

  <!-- Main list -->

  <!-- Footer -->
  <footer>
    <div class="row">
      <a href="#" *ngFor="let option of footerOptions">
        {{ option }} {{ option !== "Contact" ? " | " : null }}
      </a>
    </div>
  </footer>
</div>

<!-- Router -->
<router-outlet></router-outlet>
